
.App {
}

h4{
    text-align: center;
    color: #000;
    font-size: 16px;
    line-height: 43px;
    width: 65px;
    margin: 0 auto;
}
.active{
    border-bottom: 3px solid red;
}
.choose{
    height: 45px;
    line-height: 45px;
}
.choose component{
    padding-left: 35px;
}
.user{
    height: 44px;
    padding:12px 0;
    line-height: 44px;
    margin-top: 4px;

}
#userRanking{
    color: #000000;
}
.user component:nth-child(1){
    font-family: Impact;
    text-align: center;
    font-weight: bolder;
    color: #999999;
    flex-grow: 0.5;

}
.user component:nth-child(1) img{
    margin-top: 10px;
}
.user component:nth-child(2){
    flex-grow: 0.7;
}
.user component:nth-child(3){
    flex-grow: 2;
    font-family: Avenir;
}
.user component:nth-child(3) div:first-child{
    font-size: 16px;
    font-weight: 500;
    color:#000;
    line-height: 23px;

}
.user component:nth-child(3) div:nth-child(2){
    font-size: 13px;
    color:#999999;
    margin-top: -12px;
    font-weight: 400;
}
hr{
    width: 73%;
    float: right;
    color: #ccc;
    border: 0.5px solid #ccc;
}
.user component:nth-child(4){
    font-size: 16px;
    text-align: right;
    padding-right:16px;
    color: #33434c;
}
.ranking-list{
    border-top: 12px solid #f2f2f2;
}
